<svg #svgReference [attr.width]="windowOptions.width" [attr.height]="windowOptions.height">
    <g appZoomable [zoomableOf]="svgReference">
        <g app-graph-link [link]="link" *ngFor="let link of links"></g>
        <g
                app-graph-node
                *ngFor="let node of nodes; let i=index"
                [node]="node"
                [index]="i"
                [currentNode]="currentNodes"
                appDraggable
                [draggableInGraph]="graphForceDirected"
                [draggableNode]="node"
        >
        </g>
    </g>
</svg>
