.link {
  stroke-width: 1.25;
  //stroke: rgba(206, 202, 204, 0.75);
  //stroke: rgba(190, 2, 1, 0.9);
  //stroke: rgba(90, 156, 255, 0.75);
  //stroke: rgba(1, 3, 84, 0.75);
  //stroke: rgba(0, 5, 255, 0.75);
  //stroke: rgba(7, 61, 255, 0.75);
  stroke: rgba(6, 91, 255, 0.75);
}
