<!--TODO make dynamically rendered from JSON Array of Objects-->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<!--taxonomy based on: https://www.d3-graph-gallery.com/index.html-->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <mat-toolbar class="menu-bar mat-elevation-z1">
                <ng-container *ngFor="let item of menuData">
                    <!--
                    Handle branch node buttons here.
                    If the data contains children recursively reinsert the menu element into itself.
                    -->
                    <ng-container *ngIf="item.children && item.children.length > 0">
                        <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
                            {{item.displayName}}
                        </button>
                        <app-menu-element #menu [items]="item.children"></app-menu-element>
                    </ng-container>
                    <!--
                    Leaf node buttons here.
                    If the data contains no children end with a button menu element.
                    -->
                    <ng-container *ngIf="!item.children || item.children.length === 0">
                        <button mat-button color="primary" [routerLink]="item.route">
                            {{item.displayName}}
                        </button>
                    </ng-container>
                </ng-container>
            </mat-toolbar>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-12">
            <mat-toolbar class="menu-bar mat-elevation-z1">
                <button mat-button [matMenuTriggerFor]="d3TypeIndex2">D3 Types Index</button>
                <mat-menu #d3TypeIndex2="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="flow">Flow</button>
                    <button mat-menu-item [matMenuTriggerFor]="map">Map</button>
                    &lt;!&ndash;    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>&ndash;&gt;
                </mat-menu>
                <mat-menu #flow="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="network">Network</button>
                    &lt;!&ndash;    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                        <button mat-menu-item>Birds</button>
                        <button mat-menu-item>Mammals</button>&ndash;&gt;
                </mat-menu>
                <mat-menu #network="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="forceDirected">Force Directed</button>
                    &lt;!&ndash;    <button mat-menu-item>Bala shark</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Ballan wrasse</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Bamboo shark</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Banded killifish</button>&ndash;&gt;
                </mat-menu>
                <mat-menu #forceDirected="matMenu">
                    <button mat-menu-item>Force-Directed Tree</button>
                    <button mat-menu-item>Disjoint Force-Directed Graph</button>
                    <button mat-menu-item>Force-Directed Graph</button>
                    <button mat-menu-item [routerLink]="['./force-directed-graph-generated']">Force-Directed Graph
                        (Generated Data)
                    </button>
                </mat-menu>
                &lt;!&ndash;
                <mat-menu #fish="matMenu">
                    <button mat-menu-item>Baikal oilfish</button>
                    <button mat-menu-item>Baikal oilfish</button>
                    <button mat-menu-item>Bala shark</button>
                    <button mat-menu-item>Ballan wrasse</button>
                    <button mat-menu-item>Bamboo shark</button>
                    <button mat-menu-item>Banded killifish</button>
                </mat-menu>
                <mat-menu #amphibians="matMenu">
                    <button mat-menu-item>Sonoran desert toad</button>
                    <button mat-menu-item>Western toad</button>
                    <button mat-menu-item>Arroyo toad</button>
                    <button mat-menu-item>Yosemite toad</button>
                </mat-menu>
                <mat-menu #reptiles="matMenu">
                    <button mat-menu-item>Banded Day Gecko</button>
                    <button mat-menu-item>Banded Gila Monster</button>
                    <button mat-menu-item>Black Tree Monitor</button>
                    <button mat-menu-item>Blue Spiny Lizard</button>
                    <button mat-menu-item disabled>Velociraptor</button>
                </mat-menu>
                &ndash;&gt;
                <mat-menu #map="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="geo">Geo</button>
                    &lt;!&ndash;    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                        <button mat-menu-item>Birds</button>
                        <button mat-menu-item>Mammals</button>&ndash;&gt;
                </mat-menu>
                <mat-menu #geo="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="plain">Plain</button>
                    &lt;!&ndash;    <button mat-menu-item>Bala shark</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Ballan wrasse</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Bamboo shark</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Banded killifish</button>&ndash;&gt;
                </mat-menu>
                <mat-menu #plain="matMenu">
                    <button mat-menu-item>Zoomable US Map</button>
                    &lt;!&ndash;    <button mat-menu-item>Disjoint Force-Directed Graph</button>&ndash;&gt;
                    &lt;!&ndash;    <button mat-menu-item>Force-Directed Graph</button>&ndash;&gt;
                </mat-menu>
            </mat-toolbar>
        </div>
    </div>-->
</div>

