<p>dialog works!</p>
<div class="overlay" (click)="onOverlayClicked($event)">
    <div class="dialog" (click)="onDialogClicked($event)"></div>
    <ng-template appDialogInsertion></ng-template>
</div>
