
<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <ng-container *ngFor="let child of items">
        <!-- Handle branch node menu items -->
        <ng-container *ngIf="child.children && child.children.length > 0">
            <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
                <mat-icon>{{child.iconName}}</mat-icon>
                <span>{{child.displayName}}</span>
            </button>
            <app-menu-element #menu [items]="child.children"></app-menu-element>
        </ng-container>
        <!-- Handle leaf node menu items -->
        <ng-container *ngIf="!child.children || child.children.length === 0">
            <button mat-menu-item [routerLink]="child.route" [disabled]="child.disabled">
                <mat-icon>{{child.iconName}}</mat-icon>
                <span>{{child.displayName}}</span>
            </button>
        </ng-container>
    </ng-container>
</mat-menu>
