<div class="row">
    <div class="col-12">
        <h2>Mauris turpis nunc blandit</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <p>Donec vitae sapien ut libero venenatis faucibus. Nullam tincidunt adipiscing enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas vestibulum mollis diam. Etiam imperdiet imperdiet orci.</p>
        <p>Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Vestibulum eu odio. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Etiam sit amet orci eget eros faucibus tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
        <p>Vestibulum volutpat pretium libero. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Sed fringilla mauris sit amet nibh. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.</p>
    </div>
    <div class="col-12 col-md-6">
        <p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Aenean ut eros et nisl sagittis vestibulum. Nulla consequat massa quis enim. Aenean imperdiet. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</p>
        <p>Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus in erat ut urna cursus vestibulum. Donec vitae orci sed dolor rutrum auctor. Praesent blandit laoreet nibh.</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <figure class="figure ">
            <img
                    class="figure-img img-fluid rounded"
                    src="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/CBsUnWfWIAAOp7z.jpg"
                    alt=""
                    srcset="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/CBsUnWfWIAAOp7z.jpg
                1023w, https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/CBsUnWfWIAAOp7z-300x142.jpg
            300w,
            https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/CBsUnWfWIAAOp7z-768x364.jpg
            768w" sizes="(max-width: 1023px) 100vw, 1023px"/>
            <figcaption class="figure-caption">Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Sed libero. Proin magna. Curabitur at lacus ac velit ornare lobortis.</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Nulla facilisi</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <p>Curabitur turpis. Sed fringilla mauris sit amet nibh. Ut leo. Quisque id odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Vivamus consectetuer hendrerit lacus. Sed lectus. Vivamus elementum semper nisi. Integer tincidunt. Praesent blandit laoreet nibh.</p>
        <p>Fusce fermentum. Etiam vitae tortor. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Aliquam erat volutpat. Suspendisse non nisl sit amet velit hendrerit rutrum.</p>
    </div>
    <div class="col-12 col-md-6">
        <p>Aliquam lobortis. Praesent venenatis metus at tortor pulvinar varius. Pellentesque posuere. Nulla consequat massa quis enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Curabitur blandit mollis lacus. Duis leo. Aenean imperdiet. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <figure class="figure">
            <img
                    class="figure-img img-fluid rounded"
                    src="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/ancient_globual-1024x1012.jpg"
                    alt=""
                    srcset="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/ancient_globual.jpg
                1024w, https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/ancient_globual-300x296.jpg
            300w,
            https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/ancient_globual-768x759.jpg
            768w" sizes="(max-width: 1024px) 100vw, 1024px"/>
            <figcaption class="figure-caption">Curabitur at lacus ac velit ornare lobortis. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed libero.</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Vestibulum ullamcorper mauris at ligula</h2>
    </div>
</div>
<div class="row">
        <div class="col-12 col-md-6">
            <p>Donec venenatis vulputate lorem. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Curabitur ullamcorper ultricies nisi. In turpis. In ut quam vitae odio lacinia tincidunt.</p>
            <p>Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Maecenas malesuada. In hac habitasse platea dictumst.</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Curabitur a felis in nunc fringilla tristique. In hac habitasse platea dictumst. Sed lectus. Phasellus accumsan cursus velit. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
            <p>Vestibulum dapibus nunc ac augue. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. In ut quam vitae odio lacinia tincidunt. Donec id justo. Etiam ut purus mattis mauris sodales aliquam.</p>
            <p>Suspendisse eu ligula. Nunc sed turpis. In ac felis quis tortor malesuada pretium. Nulla consequat massa quis enim. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <figure class="figure">
            <img class="figure-img img-fluid rounded" src="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/B__ez6-W8AEvtQq-954x1024.jpg" alt="" srcset="https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/B__ez6-W8AEvtQq-954x1024.jpg
            954w, https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/B__ez6-W8AEvtQq-280x300.jpg
            280w, https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/B__ez6-W8AEvtQq-768x824.jpg
            768w, https://stage.ev.pointb.digital/wordpress/wp-content/uploads/2019/08/B__ez6-W8AEvtQq.jpg
            1024w" sizes="(max-width: 954px) 100vw, 954px"/>
            <figcaption class="figure-caption">Fusce vulputate eleifend sapien. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Quisque id mi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.<br>Vestibulum ullamcorper mauris at ligula. Phasellus dolor. Nulla facilisi. Aliquam lobortis. Praesent ut ligula non mi varius sagittis.</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Cras risus ipsum faucibus ut</h2>
    </div>
</div>
<div class="row">
        <div class="col-12 col-md-6">
            <p>Quisque rutrum. Suspendisse potenti. Nullam accumsan lorem in dui. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam.</p>
            <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus a est. Nulla consequat massa quis enim. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Suspendisse eu ligula.</p>
            <p>Phasellus nec sem in justo pellentesque facilisis. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Sed cursus turpis vitae tortor. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Vestibulum eu odio. Pellentesque dapibus hendrerit tortor.</p>
            <p>Aenean viverra rhoncus pede. Nullam sagittis. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Phasellus tempus.</p>
        </div>
</div>
