<svg
    #svgReference [attr.width]="windowOptions.width" [attr.height]="windowOptions.height">
    <g appZoomable [zoomableOf]="svgReference">
        <g app-graph-link [link]="link" *ngFor="let link of hierarchyData"></g>
        <g app-graph-node [node]="node" *ngFor="let node of nodes" appDraggable [draggableInGraph]="graphForceDirected"
           [draggableNode]="node"></g>
    </g>
</svg>




<!--<svg #svgReference [attr.width]="windowOptions.width" [attr.height]="windowOptions.height"
     [attr.viewBox]="viewBoxParameters"
     aria-labelledby="mapTitle mapDesc"
     role="group"
     aria-hidden="true"
     preserveAspectRatio="xMinYMin meet"
>
    <title id="mapTitle">An SVG title.</title>
    <desc id="mapDesc">An SVG description.
    </desc>
    &lt;!&ndash;    <ng-container *ngIf="hierarchyData">&ndash;&gt;
    <g  >
&lt;!&ndash;    <g appZoomable [zoomableOf]="svgReference" >&ndash;&gt;
        <ng-container *ngFor="let item of hierarchyData">
            &lt;!&ndash;
            Handle branch node buttons here.
            If the data contains children recursively reinsert the menu element into itself.
            &ndash;&gt;
            <ng-container *ngIf="item.children && item.children.length > 0">
                <g #nodeReference appZoomable [zoomableOf]="nodeReference" [routerLink]="item.route" >
&lt;!&ndash;                    <rect x="0" y="0" width="100" height="100"/>&ndash;&gt;
&lt;!&ndash;                    <circle *ngFor="let d of hierarchyData" [radius]="item.type.attributes.radius" [x]="d.x" [y]="d.y" [attr.fil]="red"></circle>&ndash;&gt;
                    <circle *ngFor="let d of hierarchyData" [attr.radius]="50" [attr.fil]="'rgba(0, 60, 113, 0.95)'"></circle>
                    <text x="120" y="50" >{{item.displayName}}</text>
                    <text x="120" y="50">end element rectangle</text>
                </g>
                &lt;!&ndash;                    <g app-tree-node [items]="item.children" [routerLink]="item.route" [attr.transform]="'translate('+d.x+','+d.y+')'"></g>&ndash;&gt;
                <g app-tree-node [items]="item.children" [routerLink]="item.route"></g>
                &lt;!&ndash;                    <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">&ndash;&gt;
                &lt;!&ndash;                        {{item.displayName}}&ndash;&gt;
                &lt;!&ndash;                    </button>&ndash;&gt;
                &lt;!&ndash;                    <app-menu-element #menu [items]="item.children"></app-menu-element>&ndash;&gt;
            </ng-container>
            &lt;!&ndash;
            Leaf node buttons here.
            If the data contains no children end with a button menu element.
            &ndash;&gt;
            <ng-container *ngIf="!item.children || item.children.length === 0">
                &lt;!&ndash;                    <g app-tree-node [items]="item.children" [routerLink]="item.route"></g>&ndash;&gt;
                &lt;!&ndash;                    <button mat-button color="primary" [routerLink]="item.route">&ndash;&gt;
                &lt;!&ndash;                        {{item.displayName}}&ndash;&gt;
                &lt;!&ndash;                    </button>&ndash;&gt;
                <g #nodeReference appZoomable [zoomableOf]="nodeReference" [routerLink]="item.route">
                    <rect x="0" y="0" width="100" height="100"/>
                    <text x="120" y="50" >{{item.displayName}}</text>
                    <text x="120" y="50">end element rectangle</text>
                </g>
            </ng-container>
        </ng-container>
    </g>
    &lt;!&ndash;    </ng-container>&ndash;&gt;
</svg>-->

<!--        <circle *ngFor="let d of hierarchyData" [radius]="d.r" [x]="d.x" [y]="d.y" [color]="red"></circle>-->
<!--        <circle *ngFor="let d of hierarchyData; let i = index;" [radius]="20" [x]="2*i" [y]="2*i" [color]="red"></circle>-->
<!--<g app-graph-link [link]="link" *ngFor="let link of links"></g>-->
<!--<g app-graph-node [node]="node" *ngFor="let node of nodes" appDraggable [draggableInGraph]="graphForceDirected" [draggableNode]="node"></g>-->
<!--
<g *ngFor="let d of hierarchyData; let i=index;" >
    <rect x="0" y="0" width="100" height="100"/>
    <text x="120" y="50">a rectangle</text>
</g>-->
<!--

<ng-container *ngFor="let item of menuData">
    &lt;!&ndash;
    Handle branch node buttons here.
    If the data contains children recursively reinsert the menu element into itself.
    &ndash;&gt;
    <ng-container *ngIf="item.children && item.children.length > 0">
        <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
            {{item.displayName}}
        </button>
        <app-menu-element #menu [items]="item.children"></app-menu-element>
    </ng-container>
    &lt;!&ndash;
    Leaf node buttons here.
    If the data contains no children end with a button menu element.
    &ndash;&gt;
    <ng-container *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary" [routerLink]="item.route">
            {{item.displayName}}
        </button>
    </ng-container>
</ng-container>

-->
