<!--
<div class="row">
    <div class="col-4 offset-8">
        <svg #svgReference id="svgReference"
             [attr.width]="windowOptions.width"
             [attr.height]="windowOptions.height"
             [attr.viewBox]="viewBoxParameters">
            <g #rectangleReference id="rectangleReference" app-rectangle [options]="rectangleOptions"
               appBoundingZoomReset
               [elementContainer]="svgReference">
            </g>
            <g #statesSvg id="statesSvg">
                &lt;!&ndash;                <g app-geo-path [pathData]="pathData" *ngFor="let pathData of pathDatas" #geoPath appZoomableToBounding [zoomableToBounding]="geoPath" >&ndash;&gt;
                <g app-geo-path [pathData]="pathData"
                   *ngFor="let pathData of pathDatas; trackBy: trackByFn; let i = index;"
                   #elementPath
                   id="elementPath-{{i}}"
                   appZoomableToBounding
                   [elementContainer]="svgReference"
                   [zoomableElement]="elementPath"
                   [geoPath]="geoPath"
                   [pathData]="pathData"
                   [translateParams]="translateParams"
                >
                </g>
                &lt;!&ndash;                <use  [attr.xlink:href]="activeElement3" xlink:href="" ></use>&ndash;&gt;
            </g>
        </svg>
    </div>
</div>-->
<div class="row">
    <div class="col-12 mx-auto map-us-wrapper">
        <svg
            #svgReference
            id="svgReference"
            [attr.width]="windowOptions.width"
            [attr.height]="windowOptions.height"
            [attr.viewBox]="viewBoxParameters"
            aria-labelledby="mapTitle mapDesc"
            role="group"
            aria-hidden="true">
            <title id="mapTitle">A map showing PFL or PFML status.</title>
            <desc id="mapDesc">A color coded map of the US showing, state by state, their respective PFL or PFML
                status.
            </desc>
            <g
                #rectangleReference
                id="rectangleReference"
                app-rectangle
                [options]="rectangleOptions"
                appBoundingZoomReset
                [elementContainer]="svgReference"
                (resetEvent)="resetEvent($event)"
                (click)="setResetState($event)"
            >
            </g>
            <g
                #statesSvg
                id="statesSvg"
            >
                <g
                        app-geo-path
                        [pathData]="pathData"
                        *ngFor="let pathData of pathDatas; trackBy: trackByFn; let i = index;"
                        [elementIndex]="i"
                        #elementPath
                        id="elementPath-{{i}}"
                        [attr.class]="geoDatas['objects'].states.geometries[i].stateInfo.pflStatus"
                        [attr.aria-label]="geoDatas['objects'].states.geometries[i].stateInfo.pflStatusContent.aria"
                        appZoomableToBounding
                        [elementContainer]="svgReference"
                        [zoomableElement]="elementPath"
                        [geoPath]="geoPath"
                        [pathData]="pathData"
                        [translateParams]="translateParams"
                        (selectedState)="selectedState($event)"
                        (click)="setPlusState($event)"
                >
                </g>
                <g
                        *ngIf="!!elementPath8"
                        #DCPath
                        transform="matrix(0.03,0,0,0.03,740.5,220.45)"
                        appZoomableToBounding
                        [elementContainer]="svgReference"
                        [zoomableElement]="elementPath8"
                        [geoPath]="geoPath"
                        [pathData]="pathData8"
                        [translateParams]="translateParams"
                        (selectedState)="selectedDC(8)"
                >
                    <g transform="matrix(1,0,0,1,768.348,567.301)" class="pfl-not-yet-in-force">
                        <path d="M314.711,31.142L613.742,329.44L318.742,625.173C318.742,625.173 315.811,594.024 324.972,557.378C324.972,557.378 316.91,557.011 318.742,546.018C318.742,546.018 319.842,538.688 315.078,537.223L313.978,532.459C313.978,532.459 329.37,517.067 312.879,502.043C312.879,502.043 310.314,504.608 309.581,504.974C309.581,504.974 303.351,509.738 301.885,478.589C301.885,478.589 306.649,484.452 319.109,480.788C319.109,480.788 335.599,481.887 333.401,466.129C333.401,466.129 338.531,454.403 327.537,437.179C327.537,437.179 326.438,418.49 307.748,415.925C307.748,415.925 316.91,413.359 318.009,411.893C319.109,410.428 316.91,390.272 305.55,384.409C305.55,384.409 305.916,394.303 298.22,395.403C298.22,395.403 290.158,393.57 289.792,382.943C289.425,372.316 289.989,385.13 289.989,385.13C289.989,385.13 291.624,371.216 276.233,367.918C276.233,367.918 265.606,355.825 260.475,331.272L254.245,315.881C254.245,315.881 255.345,306.353 230.792,305.254C206.239,304.154 188.283,288.763 184.984,283.999C184.984,283.999 172.525,279.968 166.295,257.98C166.295,257.98 157.866,244.055 150.171,236.359C150.171,236.359 139.177,220.968 136.978,215.105C136.978,215.105 132.947,208.875 136.612,206.31L314.711,31.142Z"/>
                    </g>
                    <g transform="matrix(1.15157,0,0,1.24774,-55.8338,-100.146)" class="dash-path">
                        <path d="M1018.12,733.262L1019.35,733.793L1041.71,749.009C1042.62,749.927 1042.63,749.941 1043.09,751.11L1043.03,752.359L1042.45,753.491L1041.45,754.334L1040.17,754.759L1038.82,754.702L1037.59,754.17L1015.22,738.955C1014.32,738.037 1014.31,738.022 1013.85,736.854L1013.91,735.604L1014.49,734.472L1015.49,733.629L1016.76,733.204C1017.22,733.224 1017.67,733.243 1018.12,733.262ZM973.38,702.831L974.607,703.362L996.976,718.578L997.889,719.502L998.35,720.679C998.288,721.919 998.284,721.936 997.712,723.06L996.71,723.903C995.444,724.325 995.426,724.328 994.082,724.271L992.855,723.739L970.485,708.524L969.572,707.599C969.086,706.358 968.951,705.042 969.75,704.041C970.018,703.705 970.418,703.479 970.751,703.198L972.026,702.773C972.477,702.792 972.929,702.812 973.38,702.831ZM928.641,672.4L929.868,672.931L952.238,688.147C953.145,689.065 953.154,689.079 953.611,690.247L953.549,691.497L952.973,692.629L951.971,693.472L950.697,693.897L949.343,693.839L948.116,693.308L925.747,678.092L924.833,677.168L924.373,675.992C924.435,674.751 924.439,674.734 925.011,673.61L926.013,672.767L927.287,672.342C927.739,672.361 928.19,672.381 928.641,672.4ZM883.903,641.969L885.13,642.5L907.499,657.716C908.983,659.218 909.706,660.96 907.233,663.041L905.958,663.466C904.614,663.409 904.596,663.405 903.377,662.877L881.008,647.661L880.095,646.737L879.634,645.561C879.696,644.32 879.701,644.304 880.273,643.179L881.274,642.336L882.549,641.911C883,641.93 883.451,641.949 883.903,641.969ZM839.164,611.538L840.391,612.069L862.76,627.285L863.673,628.209L864.134,629.385C864.08,630.466 864.234,630.842 863.496,631.767C863.228,632.103 862.828,632.329 862.494,632.61L861.219,633.035L859.866,632.977L858.639,632.446L836.269,617.23L835.356,616.306C834.87,615.065 834.735,613.748 835.534,612.748C835.802,612.412 836.202,612.186 836.535,611.905L837.81,611.48C838.261,611.499 838.713,611.518 839.164,611.538ZM794.425,581.107L795.652,581.638L818.021,596.853L818.935,597.778L819.395,598.954C819.333,600.195 819.329,600.211 818.757,601.336L817.755,602.179L816.481,602.604L815.127,602.546L813.9,602.015L791.531,586.799C790.624,585.881 790.614,585.867 790.157,584.698L790.219,583.449L790.795,582.317L791.797,581.474L793.071,581.049C793.523,581.068 793.974,581.087 794.425,581.107ZM749.686,550.675L750.913,551.207L773.283,566.422L774.196,567.347L774.656,568.523C774.594,569.764 774.59,569.78 774.018,570.905L773.017,571.748L771.742,572.173L770.388,572.115L769.161,571.584L746.792,556.368L745.879,555.444L745.418,554.267C745.472,553.186 745.318,552.81 746.056,551.886C746.324,551.55 746.724,551.324 747.058,551.043L748.333,550.618C748.784,550.637 749.235,550.656 749.686,550.675ZM704.948,520.244L706.175,520.776L728.544,535.991L729.457,536.916L729.918,538.092L729.855,539.342L729.279,540.474L728.278,541.317L727.003,541.742L725.649,541.684L724.423,541.153L702.053,525.937L701.14,525.013C700.683,523.844 700.68,523.828 700.742,522.587L701.318,521.454L702.319,520.612L703.594,520.187C704.045,520.206 704.497,520.225 704.948,520.244ZM660.209,489.813L661.436,490.345L683.805,505.56L684.719,506.484L685.179,507.661L685.117,508.91L684.541,510.043L683.539,510.886L682.265,511.311L680.911,511.253L679.684,510.722L657.314,495.506L656.401,494.582C655.944,493.413 655.941,493.397 656.003,492.156L656.579,491.023L657.581,490.181L658.855,489.756C659.307,489.775 659.758,489.794 660.209,489.813ZM615.47,459.382L616.697,459.914L639.067,475.129L639.98,476.053L640.44,477.23L640.378,478.479L639.802,479.612L638.801,480.455L637.526,480.879L636.172,480.822L634.945,480.29L612.576,465.075L611.663,464.151C611.205,462.982 611.203,462.966 611.265,461.725L611.84,460.592L612.842,459.75L614.117,459.325C614.568,459.344 615.019,459.363 615.47,459.382ZM570.732,428.951L571.959,429.483L594.328,444.698L595.241,445.622L595.702,446.799C595.64,448.04 595.635,448.056 595.063,449.181L594.062,450.023L592.787,450.448L591.433,450.391L590.206,449.859L567.837,434.644L566.924,433.72L566.463,432.543C566.484,432.127 566.417,431.698 566.526,431.294C566.825,430.178 567.237,430.048 568.103,429.318L569.378,428.893C569.829,428.913 570.28,428.932 570.732,428.951ZM525.993,398.52L527.22,399.051L549.589,414.267C550.496,415.185 550.506,415.199 550.963,416.368L550.9,417.617C550.329,418.742 550.318,418.755 549.323,419.592L548.048,420.017C546.704,419.96 546.686,419.956 545.468,419.428L523.098,404.213L522.185,403.288L521.725,402.112C521.787,400.871 521.791,400.855 522.363,399.73L523.364,398.887L524.639,398.462C525.09,398.482 525.542,398.501 525.993,398.52ZM481.254,368.089L482.481,368.62L504.851,383.836L505.764,384.76L506.224,385.937L506.162,387.186L505.586,388.318L504.584,389.161L503.31,389.586L501.956,389.529L500.729,388.997L478.36,373.782L477.446,372.857C476.989,371.689 476.986,371.673 477.048,370.431L477.624,369.299L478.626,368.456L479.9,368.031C480.352,368.051 480.803,368.07 481.254,368.089ZM436.516,337.658L437.743,338.189L460.112,353.405L461.025,354.329L461.485,355.506L461.423,356.755L460.847,357.887L459.846,358.73L458.571,359.155C457.227,359.098 457.209,359.094 455.99,358.566L433.621,343.351L432.708,342.426L432.247,341.25L432.31,340L432.886,338.868L433.887,338.025L435.162,337.6C435.613,337.619 436.064,337.639 436.516,337.658ZM391.777,307.227L393.004,307.758L415.373,322.974C416.28,323.892 416.29,323.906 416.747,325.074L416.684,326.324C416.113,327.448 416.102,327.462 415.107,328.299L413.832,328.724L412.479,328.666L411.252,328.135L388.882,312.919L387.969,311.995L387.509,310.819L387.571,309.569C388.143,308.444 388.154,308.431 389.148,307.594L390.423,307.169C390.874,307.188 391.326,307.208 391.777,307.227ZM347.038,276.796L348.265,277.327L370.634,292.543L371.548,293.467L372.008,294.643C371.946,295.884 371.942,295.9 371.37,297.025L370.368,297.868L369.094,298.293L367.74,298.235L366.513,297.704L344.144,282.488L343.23,281.564L342.77,280.388L342.832,279.138L343.408,278.006L344.41,277.163L345.684,276.738C346.136,276.757 346.587,276.776 347.038,276.796ZM302.3,246.365L303.526,246.896L325.896,262.112L326.809,263.036L327.269,264.212L327.207,265.462L326.631,266.594L325.63,267.437L324.355,267.862C323.01,267.805 322.993,267.801 321.774,267.273L299.405,252.057C298.498,251.139 298.488,251.125 298.031,249.957L298.094,248.707C298.286,248.33 298.401,247.91 298.669,247.575C300.017,245.887 301.301,246.322 302.3,246.365ZM257.561,215.934L258.788,216.465L281.157,231.68C282.064,232.598 282.073,232.613 282.531,233.781L282.468,235.031L281.892,236.163L280.891,237.006L279.616,237.431L278.262,237.373L277.036,236.842L254.666,221.626C253.759,220.708 253.75,220.694 253.293,219.525L253.355,218.276C253.927,217.151 253.937,217.138 254.932,216.301L256.207,215.876C256.658,215.895 257.11,215.914 257.561,215.934ZM212.822,185.502L214.049,186.034L236.418,201.249C237.325,202.167 237.335,202.182 237.792,203.35L237.73,204.6C237.158,205.724 237.147,205.738 236.152,206.575L234.878,207C233.533,206.942 233.515,206.938 232.297,206.411L209.927,191.195C209.02,190.277 209.011,190.263 208.554,189.094L208.616,187.845L209.192,186.713L210.194,185.87L211.468,185.445C211.92,185.464 212.371,185.483 212.822,185.502ZM168.083,155.071L169.31,155.603L191.68,170.818C192.587,171.736 192.596,171.75 193.053,172.919L192.991,174.169L192.415,175.301L191.414,176.144L190.139,176.569L188.785,176.511L187.558,175.98L165.189,160.764C164.282,159.846 164.273,159.832 163.815,158.663L163.878,157.414L164.453,156.281L165.455,155.439L166.73,155.014C167.181,155.033 167.632,155.052 168.083,155.071ZM123.345,124.64L124.572,125.172L146.941,140.387C147.848,141.305 147.857,141.32 148.315,142.488L148.252,143.737C147.754,144.717 147.741,145.119 146.675,145.713C146.288,145.928 145.825,145.996 145.4,146.138L144.046,146.08L142.819,145.549L120.45,130.333C119.543,129.415 119.534,129.401 119.076,128.232L119.139,126.983C119.331,126.605 119.447,126.186 119.715,125.85C121.062,124.163 122.346,124.598 123.345,124.64ZM84.102,97.948L85.329,98.479L102.202,109.956C103.109,110.874 103.119,110.888 103.576,112.057L103.513,113.306L102.938,114.439L101.936,115.282L100.661,115.706L99.308,115.649L98.081,115.117L81.207,103.64C80.301,102.722 80.291,102.708 79.834,101.54L79.896,100.29C80.468,99.166 80.479,99.152 81.474,98.315L82.748,97.89C83.2,97.909 83.651,97.928 84.102,97.948Z"/>
                    </g>
                    <g transform="matrix(1.52521,0,0,1.52521,-574.007,-444.645)" class="dash-circle">
                        <g>
                            <path d="M1125.41,834.67C1129.82,834.755 1133.47,839.89 1131.43,844.254C1129.66,848.062 1123.92,849.308 1120.74,846.339C1118.59,844.341 1117.99,840.874 1119.37,838.268C1120.52,836.087 1122.9,834.655 1125.41,834.67ZM1125.26,836.003C1121.68,836.073 1118.78,840.278 1120.45,843.749C1121.92,846.786 1126.53,847.728 1129.05,845.318C1130.81,843.649 1131.21,840.745 1129.98,838.662C1129.02,837.033 1127.15,835.992 1125.26,836.003Z"/>
                        </g>
                    </g>
                    <g transform="matrix(1.52521,0,0,1.52521,-1676.7,-1257.75)" class="dash-circle">
                        <g>
                            <path d="M1125.41,834.67C1129.82,834.755 1133.47,839.89 1131.43,844.254C1129.66,848.062 1123.92,849.308 1120.74,846.339C1118.59,844.341 1117.99,840.874 1119.37,838.268C1120.52,836.087 1122.9,834.655 1125.41,834.67ZM1125.26,836.003C1121.68,836.073 1118.78,840.278 1120.45,843.749C1121.92,846.786 1126.53,847.728 1129.05,845.318C1130.81,843.649 1131.21,840.745 1129.98,838.662C1129.02,837.033 1127.15,835.992 1125.26,836.003Z"/>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div #contentPopUp class="col-11 col-md-6 col-lg-3 mx-auto mx-md-4 mx-lg-5" id="content-pop-up">
        <ng-container *ngIf="geoDatas['objects'].states.geometries[selectedIndex]">
            <div class="row d-flex">
                <div class="col-10 pop-up-title"
                     [innerHTML]="geoDatas['objects'].states.geometries[selectedIndex].stateInfo.pflStatusContent.title">
                </div>
                <div
                        class="col-2 ml-auto close-icon icon-wrapper"
                        (mouseup)="resetEvent(null)">
                    <svg class=" " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 pop-up-subtitle"
                     [innerHTML]="geoDatas['objects'].states.geometries[selectedIndex].stateInfo.pflStatusContent.subTitle">
                </div>
            </div>
            <div class="row ">
                <div class="col-12 pop-up-body"
                     [innerHTML]="geoDatas['objects'].states.geometries[selectedIndex].stateInfo.pflStatusContent.body">
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex ">
                    <a class="pop-up-link ml-auto"
                       [href]="geoDatas['objects'].states.geometries[selectedIndex].stateInfo.pflStatusContent.linkUri"
                       _target="self"
                       [innerHTML]="geoDatas['objects'].states.geometries[selectedIndex].stateInfo.pflStatusContent.linkText"></a>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="" id="control-wrapper">
        <div class="row ">
            <div class="col-12 icon-wrapper">
                <svg
                    #plusIcon
                    id="plus-icon"
                    appZoomByPercentage
                    [elementContainer]="svgReference"
                    [zoomableElement]="statesSvg"
                    [zoomPercentage]="4"
                    [zoomOffsetX]="-1300"
                    [zoomOffsetY]="-750"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    (click)="setPlusState($event)"
                >
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                    <path fill="none" d="M0 0h24v24H0V0z"/>
                    <path d="M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z"/>
                </svg>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 icon-wrapper">
                <svg
                    #minusIcon
                    id="minus-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    appZoomByPercentage
                    [elementContainer]="svgReference"
                    [zoomableElement]="statesSvg"
                    [zoomPercentage]="2.5"
                    [zoomOffsetX]="-650"
                    [zoomOffsetY]="-400"
                    (click)="setMinusState($event)"
                >
                    <path fill="none" d="M0 0h24v24H0V0z"/>
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5v1H7z"/>
                </svg>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 icon-wrapper">
                <svg
                    #resetIcon
                    id="reset-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    appBoundingZoomReset
                    [elementContainer]="svgReference"
                    (click)="setResetState($event)"
                >
                    <defs>
                        <path id="a" d="M0 0h24v24H0z"/>
                    </defs>
                    <clipPath id="b">
                        <use xlink:href="#a" overflow="visible"/>
                    </clipPath>
                    <path clip-path="url(#b)"
                          d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/>
                    <path clip-path="url(#b)" fill="none" d="M0 0h24v24H0z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="row" id="key-wrapper">
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="row ">
            <div class="col-2 icon-color-key-wrapper pfl-in-force">
                <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" >
                    <g transform="matrix(1.33333,0,0,1.33333,0,0)">
                        <g transform="matrix(0.616333,0,0,0.616333,4.63698,4.0)">
                            <rect x="0.589" y="0.615" width="22" height="22" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-10 key-text">
                PFL or PFML in force
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="row ">
            <div class="col-2 icon-color-key-wrapper pfl-proposed">
                <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" >
                    <g transform="matrix(1.33333,0,0,1.33333,0,0)">
                        <g transform="matrix(0.616333,0,0,0.616333,4.63698,4.0)">
                            <rect x="0.589" y="0.615" width="22" height="22" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-10 key-text">
                PFML proposed
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="row ">
            <div class="col-2 icon-color-key-wrapper pfl-alternative-passed-or-proposed">
                <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" >
                    <g transform="matrix(1.33333,0,0,1.33333,0,0)">
                        <g transform="matrix(0.616333,0,0,0.616333,4.63698,4.0)">
                            <rect x="0.589" y="0.615" width="22" height="22" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-10 key-text">
                Alternative policy passed or proposed
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="row ">
            <div class="col-2 icon-color-key-wrapper pfl-not-yet-in-force">
                <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" >
                    <g transform="matrix(1.33333,0,0,1.33333,0,0)">
                        <g transform="matrix(0.616333,0,0,0.616333,4.63698,4.0)">
                            <rect x="0.589" y="0.615" width="22" height="22" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-10 key-text">
                PFML passed, not yet in force
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="row ">
            <div class="col-2 icon-color-key-wrapper pfl-active-study">
                <svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" >
                    <g transform="matrix(1.33333,0,0,1.33333,0,0)">
                        <g transform="matrix(0.616333,0,0,0.616333,4.63698,4.0)">
                            <rect x="0.589" y="0.615" width="22" height="22" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-10 key-text">
                Active study on PFML
            </div>
        </div>
    </div>
</div>
