<svg:path
        class="state-path"
        [id]="'state-id-' + pathData['id']"
        [attr.d]="path"
        xmlns:svg="http://www.w3.org/2000/svg"
>
</svg:path>
<!--
<svg:text
        [attr.xlink:href]="'#state-id-' + pathData['id']"
        dx="0" dy="5"
        style="font-size: 5px;"
        class="state-text"
        xmlns:svg="http://www.w3.org/2000/svg"
>
    <textPath [attr.xlink:href]="'#state-id-' + pathData['id']"  alignment-baseline="baseline">
        {{pathData['id']}}
    </textPath>
</svg:text>
-->
