#dynamic-container {
  position: fixed;
  //top: 65px;
  top: 0px;
  left: 0px;
  width: 0vw;
  height: 0vh;
  //background-color: rgba(127, 2, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  padding-top: 65px;
  //pointer-events: none;
  overflow-y: hidden;
}

#dynamic-component-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  //background-color: rgba(2, 124, 127, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  //width: 100%;
  //height: auto;
  padding-top: 50px;
  padding-bottom: 150px;
  //overflow-y: scroll;
  overflow-y: auto;
}

.close-button-wrapper {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 24px;
  cursor: pointer;
  svg {
    fill: rgba(0, 0, 0, 0.75);
  }
}
