.map-us-wrapper {
  padding: 15px;
  margin: 15px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.background {
  //fill: none;
  fill: rgba(255, 255, 255, 1.0);
  pointer-events: all;
}


#statesSvg path {
  //stroke-width: 0.085px;
  stroke-width: 0.025%;

  //fill: none;
  //fill: black;
  //stroke: rgb(116, 3, 5);
  stroke: rgb(255, 255, 255, 1.0);

}

.state-borders {
  fill: none;
  //stroke: #fff;
  //stroke-width: 0.5px;
  //stroke-width: 0.025%;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.states {
  //stroke-width: 0.5px;
  stroke-width: 0.025%;

  fill: none;
  stroke: white;

  path {
    fill: brown;
    //stroke: black;
  }
}

.state-path {
  cursor: pointer;
  //stroke-width: 0.5px;
  stroke-width: 0.025%;

  //fill: none;
  //fill: black;
  stroke: rgba(255, 255, 255, 1.0);

}

.state-text {
  fill: rgb(116, 3, 5);
}

//map color coding
.icon-wrapper {
  cursor: pointer;
  max-width: 64px;
}

.pfl-not-yet-in-force {
  path {
    fill: rgba(107, 167, 234, 1);
  }
  rect {
    fill: rgba(107, 167, 234, 1);
  }
}

.pfl-in-force {
  path {
    fill: rgba(0, 78, 168, 1);
  }
  rect {
    fill: rgba(0, 78, 168, 1);
  }
}

.pfl-proposed {
  path {
    fill: rgba(84, 185, 72, 1);
  }
  rect {
    fill: rgba(84, 185, 72, 1);
  }
}

.pfl-active-study {
  path {
    fill: rgba(164, 224, 134, 1);
  }
  rect {
    fill: rgba(164, 224, 134, 1);
  }
}

.pfl-alternative-passed-or-proposed {
  path {
    fill: rgba(248, 151, 40, 1);
  }
  rect {
    fill: rgba(248, 151, 40, 1);
  }
}

.no-pfl-proposed {
  path {
    fill: rgba(229, 229, 229, 1);
  }
  rect {
    fill: rgba(229, 229, 229, 1);
  }
}

//
.dash-path {
  path {
    fill: rgba(43, 47, 49, 0.8);
  }
}

.dash-circle {
  path {
    fill: rgba(43, 47, 49, 0.8);
  }
}

//pop-up styles
#content-pop-up {
  position: absolute;
  top: 50%;
  right: 30px;
  background-color: rgba(230, 241, 253, 1.0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  @include media-breakpoint-down(md) {
    top: 210px;
    //right: inherit;
    right: 15px;
  }

  .pop-up-title {
    color: rgba(80, 80, 80, 1.0);
    font-family: "Helvetica Neue";
    font-size: 24px;
    padding-top: 16px;
    margin-bottom: 24px;
  }

  .close-icon {
    fill: rgba(80, 80, 80, 1.0);
    padding-top: 16px;
    margin-bottom: 24px;
  }

  .pop-up-title {
    color: rgba(80, 80, 80, 1.0);
    font-family: "Helvetica Neue";
    font-size: 24px;
    margin-bottom: 24px;
  }

  .pop-up-subtitle {
    color: rgba(80, 80, 80, 1.0);
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .pop-up-body {
    color: rgba(80, 80, 80, 1.0);
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 24px;
  }

  .pop-up-link {
    color: rgba(0, 78, 168, 1.0);
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    margin-bottom: 16px;
  }
}

#control-wrapper {
  position: absolute;
  top: 30%;
  left: 30px;
  min-width: 30px;
  @include media-breakpoint-down(sm) {
    top: 60px;
    left: 15px;
  }

  .icon-wrapper {
    margin-bottom: 15px;
  }

  #plus-icon {
    opacity: 1;
    pointer-events: inherit;
  }

  #minus-icon {
    opacity: 0.50;
    pointer-events: none;
  }

  #reset-icon {
    opacity: 0.50;
    pointer-events: none;
  }
}

//color keys
.icon-color-key-wrapper {
  max-width: 64px;
}
.key-text{
  padding-top: 3px;
}
