
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-12" *ngIf="loopFlag">
                    <app-graph [nodes]="nodes" [links]="links"></app-graph>
                </div>-->
 <!--       <div class="col-12">
            <app-hierarchy-tree [hierarchyData]="hierarchyData"></app-hierarchy-tree>
        </div>-->
        <div class="col-12" *ngIf="flatData">
            <app-hierarchy-tree [hierarchyData]="flatData"></app-hierarchy-tree>
        </div>
    </div>
</div>
