<svg
    #svgReference
    [attr.width]="windowOptions.width"
    [attr.height]="windowOptions.height"
>
    <g
            appZoomable
            [zoomableOf]="svgReference"
    >
        <g
                app-graph-link-path
                [link]="link"
                [index]="i"
                *ngFor="let link of links;
                let i=index;"
        >
        </g>
        <g
                app-graph-node
                *ngFor="let node of nodes;
                let i=index;"
                [node]="node"
                [currentNode]="currentNodes"
                [index]="i"
                appDraggableTreeElement
                [draggableNode]="node"
                [treeGraphForceDirected]="treeGraphForceDirected"
                (click)="eventManager(i, $event)"
        >
        </g>
    </g>
</svg>
<div
    #dynamicContainer
    id="dynamic-container"
>
    <app-dynamic-component-loader
            [dynamicComponents]="dynamicComponents"
            (click)="eventManager(null, $event)"
    >
    </app-dynamic-component-loader>
</div>
