<div class="container-fluid outer-bounds">
    <div class="row">
        <div class="col-12" *ngIf="loopFlag">
            <app-tree-graph [nodes]="nodes" [links]="links" ></app-tree-graph>
        </div>
    </div>
</div>
