<p>dialog-error works!</p>
<div class="text-wrapper"><p>Test</p></div>
<div class="actions">
    <button class="button" (click)="onClose()">CANCEL</button>
    <button class="button" (click)="onClose()">OK</button>
</div>
