.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;
  stroke: rgba(0, 0, 0, 0.75);
  stroke-width: 0.25;
}

.node-name {
  font-family: sans-serif, 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}

.node-label {
  font-family: sans-serif, 'Lato';
  text-anchor: start;
  alignment-baseline: central;
  font-weight: 300;
  fill: rgba(144, 142, 206, 0.77);
}

.node-wrapper:focus {
  outline: none;
}
