<svg:g
        class="node-wrapper"
        [attr.id]="'node-id-'+node.id"
        [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
        xmlns:svg="http://www.w3.org/2000/svg"
        (click)="routeUpdate()"
        [routerLink]="node.route"
        routerLinkActive="active"
>
    <!--        (mouseup)="routeUpdate()">-->
    <!--    <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
            <feOffset dx="2" dy="2" result="offsetblur"/>
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.72"/>
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>-->
    <circle
            class="node"
            [attr.fill]="node.color"
            [style.stroke]="node.stroke"
            [style.stroke-width]="node.strokeWidth"
            cx="0"
            cy="0"
            [attr.r]="node.r">
    </circle>
    <text
            class="node-name"
            [attr.font-size]="node.fontSize">
        {{node.id}}
    </text>
    <text
            class="node-name"
            [attr.dx]="0"
            [attr.dy]="node.r + 10"
            [attr.font-size]="node.fontSize"
            [innerHTML]="node.label"
            [style.fill]="node.labelColor"
    >
    </text>
</svg:g>
