<!--<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'" xmlns:svg="http://www.w3.org/2000/svg">-->
<!--<svg:g xmlns:svg="http://www.w3.org/2000/svg">
    &lt;!&ndash;    <circle&ndash;&gt;
    &lt;!&ndash;            class="node"&ndash;&gt;
    &lt;!&ndash;            [attr.fill]="node.color"&ndash;&gt;
    &lt;!&ndash;            cx="0"&ndash;&gt;
    &lt;!&ndash;            cy="0"&ndash;&gt;
    &lt;!&ndash;            [attr.r]="node.r">&ndash;&gt;
    &lt;!&ndash;    </circle>&ndash;&gt;
    <circle x="100" y="100" [attr.r]="50">
    </circle>
    &lt;!&ndash;    <text&ndash;&gt;
    &lt;!&ndash;            class="node-name"&ndash;&gt;
    &lt;!&ndash;            [attr.font-size]="node.fontSize">&ndash;&gt;
    &lt;!&ndash;        <p>tree-node works!</p>&ndash;&gt;
    &lt;!&ndash;        {{node.id}}&ndash;&gt;
        </text>&ndash;&gt;
       <rect x="0" y="0" width="100" height="100"/>&ndash;&gt;
    <text x="120" y="50">a rectangle</text>
</svg:g>-->
<svg:g xmlns:svg="http://www.w3.org/2000/svg">
    <ng-container *ngFor="let child of items">
        <!-- Handle branch node menu items -->
        <ng-container *ngIf="child.children && child.children.length > 0">
<!--            <g #nodeReference appDraggable [draggableNode]="nodeReference" [routerLink]="child.route">-->
<!--            <g #nodeReference appDraggable [draggableNode]="nodeReference" >
                <rect x="0" y="0" width="100" height="100"/>
                <text x="120" y="50" >{{child.displayName}}</text>
            </g>-->
            <g #nodeReference appDraggable [draggableNode]="nodeReference" >
                <rect x="0" y="0" width="100" height="100"/>
                <text x="120" y="50" >{{child.displayName}}</text>
            </g>
<!--            <g app-tree-node [items]="child.children" [routerLink]="child.route">-->
            <g app-tree-node [items]="child.children" >
            </g>
        </ng-container>
        <!-- Handle leaf node menu items -->
        <ng-container *ngIf="!child.children || child.children.length === 0">
<!--            <g #nodeReference appZoomable [zoomableOf]="nodeReference" [routerLink]="child.route">-->
<!--            <g #nodeReference appZoomable [zoomableOf]="nodeReference" >
                <rect x="0" y="0" width="100" height="100"/>
                <text x="120" y="50" >{{child.displayName}}</text>
            </g>-->
            <g #nodeReference appZoomable [zoomableOf]="nodeReference" >
                <rect x="0" y="0" width="100" height="100"/>
                <text x="120" y="50" >{{child.displayName}}</text>
            </g>
        </ng-container>
    </ng-container>
</svg:g>
