<svg:g xmlns:svg="http://www.w3.org/2000/svg">
    <svg:path
            [attr.id]="'MyPath'+index"
            [attr.d]="attrD"
            class="link"
            [style.stroke]="link.stroke"
            [style.stroke-width]="link.strokeWidth"
            [style.stroke-dasharray]="link.strokeDashArray"
    >
    </svg:path>
    <svg:text
            text-anchor="middle"
            y="10em">
        <textPath
                [attr.xlink:href]="'#MyPath'+index"
                startOffset="50%"
                [style.stroke]="link.linkLabelColor"
        >
            {{link.linkLabel}}
        </textPath>
    </svg:text>
</svg:g>
