.link {
  stroke-width: 1.25;
  stroke: rgba(206, 202, 204, 0.75);
  //stroke: rgba(190, 2, 1, 0.9);
  //stroke: rgba(90, 156, 255, 0.75);
  //stroke: rgba(1, 3, 84, 0.75);
  //stroke: rgba(0, 5, 255, 0.75);
  //stroke: rgba(7, 61, 255, 0.75);
  //stroke: rgba(6, 91, 255, 0.75);
}

textPath {
  //stroke-width: 1.25;
  //fill: rgba(206, 202, 204, 0.75);
  //fill: rgba(190, 2, 1, 0.9);
  //fill: rgba(90, 156, 255, 0.25);
  //fill: rgba(77, 158, 228, 0.95);
  fill: rgba(54, 110, 161, 0.65);
  //fill: rgba(1, 3, 84, 0.75);
  //fill: rgba(0, 5, 255, 0.75);
  //fill: rgba(7, 61, 255, 0.75);
  //fill: rgba(6, 91, 255, 0.5);
}
