<div *ngIf="data" class="container-fluid">
    <!--<div class="container">-->
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div *ngIf="data" class="col-12 mx-auto">
                    <h1 [innerHTML]="data.title">
                    </h1>
                </div>
            </div>
            <div class="row">
                <div *ngIf="data" class="col-12 ">
                    <div [innerHTML]="data.rendered">
                    </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-12 col-lg-6">-->
<!--                    <p>system-message works!</p>-->
<!--                </div>-->
<!--                <div class="col-12 col-lg-6">-->
<!--                    <p>system-message works!</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
