<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <app-map-us *ngIf="combindDatas !== undefined" [geoDatas]="combindDatas"></app-map-us>
        </div>
    </div>
</div>
